<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/log-in.css">
</head>
<body>
<header class="header">
    <h1>Войти</h1>
</header>
<main class="container">
    <div class="center">
        <form action="login" method="post">
            <div class="input-wrapper">
                <label>Логин</label>
                <input class="field" type="text" name="username" required/>
            </div>
            <div class="input-wrapper">
                <label>Пароль</label>
                <input class="field" type="password" name="password" required/>
            </div>
            <input class="submit" type="submit" value="Войти"/>
            <p class="reg-link">
                <a  href="/sign-in">Зарегистрироваться</a>
            </p>
        </form>
    </div>
</main>
<!--<form class="hidden-form" action="/to-home" method="get" hidden>-->
<!--    <div>-->
<!--        <label>Логин</label>-->
<!--        <input class="field" type="text" id="token-input" name="access_token" value="" required/>-->
<!--    </div>-->
<!--    <input class="submit" type="submit" id="home"/>-->
<!--</form>-->
<!--<script src="/js/login.js"></script>-->
</body>
</html>