<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/sign-in.css">
</head>
<body>
<header class="header">
    <h1>Поздравляем с успешной регистрацией!</h1>
</header>
<main class="container">
    <div class="center">
        <form action="/login" method="get">
            <input class="submit" type="submit" value="Перейти на страницу входа"/>
        </form>
    </div>
</main>
</body>
</html>