<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/payment-page.css">
</head>
<body>
<header class="header">
    <div class="first-row">
    </div>
    <div class="second-row">
        <h2 class="header-title">Страница не найдена :(</h2>
    </div>
</header>
<main id ="main-container" class="container">
    <h3>К сожалению, не удалось найти страницу по отправленному запросу</h3>
</main>
<script src="https://kit.fontawesome.com/acdc25dc25.js" crossorigin="anonymous"></script>
<script src="/js/catalogue-filter.js"></script>
</body>
</html>